.recipe-card {
  width: 100%;
  max-width: 250px;
  padding: 15px;
  border: 1px solid #ccc;
  border-radius: 8px;
  text-align: center;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  background-color: #fff;
}

.recipe-card img {
  width: 200px;
  height: auto;
  border-radius: 8px;
  margin-bottom: 20px;
  object-fit: cover;
}

.recipe-card a {
  display: inline-block;
  margin-top: 15px;
  text-decoration: none;
  color: #007bff;
  font-weight: bold;
}

.recipe-card a:hover {
  text-decoration: underline;
}

.recipe-card h3 {
  font-size: 1.1rem;
  margin-bottom: 10px;
}
